<html>
    <head>
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script src="<%= signal %>/socket.io/socket.io.js"></script>
    </head>
    <body>
        <b>SIGNAL :</b> <%= signal %>
        <b>CORE :</b> <%= core %>

        <div style="margin-top:30px">
            
            <input type="text" id="inputText" />
            <button id="sendBtn">보내기</button>
            <ul id="chat"></ul>

        </div>

        
        <script>
            //


            $(document).ready(function(){
                let signalSocket = io.connect('<%= signal%>')
                // socket.on('message',function(data){
                //     $('#chat').append(`<li> ${ data.message } </li>`);
                // });

                $('#sendBtn').on('click', send);

                signalSocket.on('chat', function(data) {
                    $('#chat').append(`<li> ${ data.message } </li>`);
                })

                function send () {
                    let message = $('#inputText').val();
                    console.log
                    if ( message.length < 1 ) return;
                    
                    signalSocket.emit('chat',{ message: message });
                    
                    $('#chat').append(`<li> ${ message } </li>`);
                    $('#inputText').val('');
                }
 
                // $('#btnSend').click(function(){
                //     send();
                // });

                // $('#inputText').keyup(function(e){
                //     if(e.keyCode == 13)
                //         send();
                // });

            });
        </script>
    </body>
</html>