<html>
    <head>
        <script src="<%= core %>/socket.io/socket.io.js"></script> -->
    </head>
    <body>
        <b>SIGNAL :</b> <%= signal %>
        <b>CORE :</b> <%= core %>
        
        <script>
            let socket = io.connect('<%= core %>');
            
        </script>
        
        
    </body>
</html>